@page "/counter"
@using System.Reflection.Metadata
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button id="myButtonId" style="background-color:@bgcolor" class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="date" TValue="DateOnly" @onchange="DateChange" Placeholder="Enter Date" />

@code {
    private int currentCount = 0;
    private DateOnly _date1;

    // public DateOnly Date1 { get{
    //         return _date1;
    //     } set
    //     {
    //         _date1 = value;
    //         DateChange();
    //     }
    // }
    string bgcolor { get; set; } = "00f";

    private void IncrementCount() => currentCount++;

    private void DateChange(){
        bgcolor = "#fd7"; 
    }

}
