@page "/counter"
@using System.Reflection.Metadata
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button id="myButtonId" style="background-color:@bgcolor" class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="date" TValue="DateOnly" @onchange="DateChange" Placeholder="Enter Date" />

@using Portfolio.Helpers
@code {
    private int currentCount = 0;

    string bgcolor { get; set; } = "00f";

    private void IncrementCount() {
        currentCount++;
        bgcolor = ColorHelper.GetRandomColor().ToString();
    }

    private void DateChange(){
        bgcolor = ColorHelper.GetRandomColor().ToString(); 
    }

}
